@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

/* CSS Variables */
:root {
  --primary-color: #b90415;
  --primary-color-hover: #d3071b;
  --secondary-color: #103063;
  --secondary-color-hover: #143fa5;
  --light-color: #f4f4f4;
}

body {
  font-family: 'PT Sans', sans-serif;
  background-color: #252525;
  margin: 0;
  color: #fff;
  line-height: 1.6;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}

td {
  padding: 2rem;
}

/* Section */
.section {
  padding: 3rem 0;
}

.section-head {
  font-size: 2.5rem;
  margin: 0;
}

.section h3 {
  font-size: 2rem;
}

/* Showcase */
#showcase {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow-y: hidden;
  background: url('../assets/img/person-using-laptop-computer.jpg') no-repeat top/cover;
}

#showcase .container {
  margin-top: 25vh;
}

#showcase h1 {
  font-size: 4rem;
  margin-bottom: 0;
}

#showcase h2 {
  font-size: 2rem;
}

#showcase a {
  color: #ffffff;
}

/* About */
#about {
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}

#about .container {
  margin-top: 15vh;
}

/* Blogs */
#blogs {
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}

#blogs .container {
  margin-top: 20vh;
}

/* Projects */
#projects {
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}

#projects .container {
  margin-top: 5vh;
}

/* Contact */
#contact {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
}

#contact .container {
  margin-top: 20vh;
}

/* Footer */
footer .footer-bottom {
  background: #333;
  padding: 1rem;
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
}

/* Utility Classes */
.container {
  max-width: 1180px;
  text-align: center;
  margin: 0 auto;
  padding: 0 3rem;
}

.lead {
  font-size: 1.3rem;
}

.text-center {
  text-align: center;
}

/* Button */
.btn {
  padding: 1rem;
  color: #fff;
  display: inline-block;
  border-radius: 0.5rem;
}

.btn-primary {
  background: var(--primary-color);
}

.btn-primary:hover {
  background: var(--primary-color-hover);
}

.btn-secondary {
  background: var(--secondary-color);
}

.btn-secondary:hover {
  background: var(--secondary-color-hover);
}

/* Text Colors */
.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-light {
  color: var(--light-color);
}

.bg-light {
  background: var(--light-color);
  color: #333;
}

.bg-light a {
  color: #333;
}

.mb {
  margin-bottom: 1rem;
}

.mt {
  margin-top: 1rem;
}

/* Navigation */
nav {
  height: 40px;
  width: 100%;
  background-color: #333;
  color: #eee;
  position: fixed;
  display: flex;
  justify-content: space-between;
}

nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  float: left;
}
nav a {
  display: inline-block;
  width: 100px;
  text-align: center;
  text-decoration: none;
  padding: 10px 0;
  color: #eee;
  text-decoration: none;
}

nav li a {
  transition: all 0.3s ease 0s;
}

nav li a:hover {
  font-size: 1.2rem;  
}

nav li:hover {
  background-color: #444;
}
nav a#openup {
  display: none;
}

@media screen and (max-width: 580px) {
  .hide-on-small {
    display: none;
  }

  #showcase {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow-y: hidden;
    background: url('../assets/img/person-using-laptop-computer.jpg') no-repeat top/cover;
  }

  #showcase .container {
    margin-top: 25vh;
  }

  #showcase h1 {
    font-size: 3rem;
  }

  #showcase h2 {
    font-size: 1.5rem;
  }

  #showcase img {
    opacity: 0.4;
  }

  nav {
    height: auto;
    border-bottom: 0;
  }
  nav ul {
    display: none;
    height: auto;
  }
  nav li {
    width: 100%;
    float: left;
    position: relative;
  }
  nav a {
    text-align: left;
    width: 100%;
    text-indent: 25px;
    background: #333;
    border-bottom: 1px solid #555;
  }
  nav a:hover {
    background: #444;
  }
  nav a#openup:after {
    content: "|||";
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Safari and Chrome */
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 20px;
  }
  nav a#openup {
    display: block;
    background-color: #333;
    width: 100%;
    position: relative;
  }
}
.cf:before, .cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}